<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>

        <rewrite>
            <rules>

                <!-- index.html -> index.php -->
                <rule name="index.html to index.php" stopProcessing="true">
                    <match url="^index\.html$" />
                    <action type="Rewrite" url="index.php" />
                </rule>

                <!-- Basit sayfa yönlendirmeleri -->
                <rule name="Index">
                    <match url="^index$" />
                    <action type="Rewrite" url="index.php" />
                </rule>

                <rule name="Dahili">
                    <match url="^dahili$" />
                    <action type="Rewrite" url="dahili.php" />
                </rule>

                <rule name="Etkinlik Duyuru">
                    <match url="^etkinlik-duyuru$" />
                    <action type="Rewrite" url="etkinlik_duyuru.php" />
                </rule>

                <rule name="Formlar">
                    <match url="^formlar$" />
                    <action type="Rewrite" url="formlar.php" />
                </rule>

                <rule name="Giris Cikis">
                    <match url="^giris-cikis$" />
                    <action type="Rewrite" url="giris_cikis.php" />
                </rule>

                <rule name="LDAP">
                    <match url="^ldap$" />
                    <action type="Rewrite" url="ldap.php" />
                </rule>

                <rule name="Menu">
                    <match url="^menu$" />
                    <action type="Rewrite" url="menu.php" />
                </rule>

                <rule name="Mevzuat">
                    <match url="^mevzuat$" />
                    <action type="Rewrite" url="mevzuat.php" />
                </rule>

                <rule name="Moduller">
                    <match url="^moduller$" />
                    <action type="Rewrite" url="moduller.php" />
                </rule>

                <rule name="PDKS">
                    <match url="^pdks$" />
                    <action type="Rewrite" url="pdks.php" />
                </rule>

                <rule name="PopUp Yonetimi">
                    <match url="^popup_yonetim$" />
                    <action type="Rewrite" url="popup_yonetim.php" />
                </rule>

                <rule name="SMS">
                    <match url="^sms$" />
                    <action type="Rewrite" url="sms.php" />
                </rule>

                <rule name="QR Olusturucu">
                    <match url="^qr-olusturucu$" />
                    <action type="Rewrite" url="qr_olusturucu.php" />
                </rule>

                <rule name="Yemek Listesi">
                    <match url="^yemek-listesi$" />
                    <action type="Rewrite" url="yemek_listesi.php" />
                </rule>

                <rule name="Yok">
                    <match url="^yok$" />
                    <action type="Rewrite" url="yok.php" />
                </rule>

                <!-- Dinamik Kurallar -->

                <rule name="Banner Detay" stopProcessing="true">
                    <match url="^([^/]+)-([0-9]+)-banner-detay$" />
                    <action type="Rewrite" url="banner_detay.php?title={R:1}&amp;id={R:2}" />
                </rule>

                <rule name="Basvuru Detay 3 Parametre" stopProcessing="true">
                    <match url="^([^/]+)-([0-9]+)-([0-9]+)-basvuru$" ignoreCase="true" />
                    <action type="Rewrite" url="basvuru.php?title={R:1}&amp;port={R:2}&amp;x={R:3}" />
                </rule>

                <rule name="Basvuru Detay 2 Parametre" stopProcessing="true">
                    <match url="^([^/]+)-([0-9]+)-basvuru$" ignoreCase="true" />
                    <action type="Rewrite" url="basvuru.php?title={R:1}&amp;port={R:2}" />
                </rule>

                <rule name="Etkinlik Detay" stopProcessing="true">
                    <match url="^([0-9]+)-etkinlik-duyuru$" />
                    <action type="Rewrite" url="etkinlik_duyuru.php?x={R:1}" />
                </rule>

                <rule name="Giris Cikis Detay" stopProcessing="true">
                    <match url="^([^/]+)-giris-cikis(\.html)?$" ignoreCase="true" />
                    <action type="Rewrite" url="giris_cikis.php?title={R:1}" />
                </rule>

                <rule name="Iframe Detay" stopProcessing="true">
                    <match url="^([0-9]+)-iframe(\.html)?$" ignoreCase="true" />
                    <action type="Rewrite" url="iframe.php?id={R:1}" />
                </rule>

                <rule name="Moduller Detay" stopProcessing="true">
                    <match url="^([0-9]+)-moduller$" ignoreCase="true" />
                    <action type="Rewrite" url="moduller.php?x={R:1}" />
                </rule>

                <rule name="Personel Detay" stopProcessing="true">
                    <match url="^([0-9]+)-personeller$" ignoreCase="true" />
                    <action type="Rewrite" url="personeller.php?x={R:1}" />
                </rule>

                <rule name="Yemekhane Detay" stopProcessing="true">
                    <match url="^([0-9]+)-yemekhane$" ignoreCase="true" />
                    <action type="Rewrite" url="yemekhane.php?x={R:1}" />
                </rule>

                <!-- Sadece sayı parametreli -->
                <rule name="Yetkili Tek Parametre" stopProcessing="true">
                    <match url="^([0-9]+)-yetkili$" ignoreCase="true" />
                    <action type="Rewrite" url="yetkili.php?x={R:1}" />
                </rule>

                <!-- Metin + sayı parametreli -->
                <rule name="Yetkili Iki Parametre" stopProcessing="true">
                    <match url="^([^/]+)-([0-9]+)-yetkili$" ignoreCase="true" />
                    <action type="Rewrite" url="yetkili.php?edit={R:1}&amp;x={R:2}" />
                </rule>

            </rules>
        </rewrite>

    </system.webServer>
</configuration>
